/* css for junproger cv */
html,
body {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
			box-sizing: inherit;
}
html,
body {
	scroll-behavior: smooth;
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	font-style: normal;
	background: #111;
	color: grey;
}
html,
head,
body {
	display: block;
	width: 100%;
	padding: 0 0;
	border: none;
	margin: 0 0;
}
nav,
div,
h1,
h2,
p {
	display: block;
	padding: 0 0;
	border: none;
	margin: 0 0;
}
a {
	color: khaki;
}
a:hover {
	color: peru;
}
a:visited {
	color: chocolate;
}
.body-style {
	display: block;
	position: static;
	max-width: 100%;
	min-height: 100vh;
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	background: #111;
	color: grey;
}
